* {
  margin: 0;
}

.App {
  text-align: center;
  background-color: #24283b;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* width: 100vw;
  margin: 0; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Home {
  height: 100%;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
}
.main-container {
  margin: auto;
  height: 60%;
  width: 60%;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  background-color: rgb(127, 255, 212,.25);
  border-radius: 10px;
  border: 2px solid rgb(36, 36, 36);
  box-shadow: 1px 1px 8px black;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.PFP {
  background-color:beige;
  border-radius: 50%;
  width: 20vw;
  float: left;
  margin: 0 15px 0 0
} 

#PFP{
  border-radius: 50%;
  height: 320px;
  padding-left: 20px;
}

.Hello {
  color: aquamarine;
  display: flex;
  flex-direction: column;
  margin: 0px
}

.MiniAbtMe {
  color: #fa50b3;
  font-size: 20px;
}

.Icons {
  color:bisque;
  font-size: 50px;
  flex-wrap: wrap;
  gap: 5em;
  padding-right: 10px
}

.Navbar {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    width: 10vw;
    height: 100vw;
    padding-top: 60px;
}

.Dropdown-Button {
 position: absolute;
 top: 10px;
 right: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
